


.media-container{  //media container
 
    box-sizing: content-box;
    overflow: hidden;
 
    display: flex;
    width: 100%;


    .picture-wrapper{
        width: 100%;
        height: 100%;

    .picture{
      
        transition: all 1s;
        width: 100%;
        img{
        width: 100%;
         transition: all 1s;
         object-fit: cover;
         
        
     
     
        }
     
     
         
         }
        
    }
   

 
}


@keyframes appear{
    from{opacity: 0; width: 0;}
    to{opacity: 1;}
}
@keyframes shrink {
    from{opacity: 1;}
    to{ opacity:0;}
}






