<!-- Section a -->
<div class="component-wrapper">

   <div #sections class="section a">
    <div id="screen-switcher">
           <button (click)="screenSwitcher(-1)" id="down">minus</button>
      <button (click)="screenSwitcher(1)" id="up">plus</button>

    </div>
    <div [ngClass]="{active:screens[0].active===true}" class="screen">
        <canvas #bg_animation id="bg_animation" ></canvas>
    </div>
    <div [ngClass]="{active:screens[1].active===true}"  class="screen">
      <div class="text">
      <h1>Marc.</h1>
      <span>
        Javascript web <br />
        programmer
      </span>
    </div>


    <div class="frameworks-logos">
      <div
        matTooltipClass="badges-info"
        #react="matTooltip"
        matTooltip="My first love"
        (click)="react.toggle()"
        matTooltipHideDelay="100"
        #skills
        class="wrapper"
      >
        <img src="assets/images/react-logo.svg" alt="" />
        <span>React</span>
      </div>
      <div
        matTooltipClass="badges-info"
        #angular="matTooltip"
        matTooltip="My favorite JS framework"
        (click)="angular.toggle()"
        matTooltipHideDelay="100"
        #skills
        class="wrapper"
      >
        <img src="assets/images/angular-logo.svg" alt="" />
        <span>Angular</span>
      </div>
      <div
        matTooltipClass="badges-info"
        #express="matTooltip"
        matTooltip="My loyal companion"
        (click)="express.toggle()"
        matTooltipHideDelay="100"
        #skills
        class="wrapper"
      >
        <img src="assets/images/nodejs-logo.svg" alt="" />
        <span>Express JS</span>
      </div>
      <div
        matTooltipClass="badges-info"
        #javascript="matTooltip"
        matTooltip="The most versatile programming language on the planet"
        (click)="javascript.toggle()"
        matTooltipHideDelay="100"
        #skills
        class="wrapper"
      >
        <img src="assets/images/javascript-logo.svg" alt="" />
        <span>JavaScript</span>
      </div>
      <div
        matTooltipClass="badges-info"
        #docker="matTooltip"
        matTooltip="Virtually amazing, don't know what I would do withou it!"
        (click)="docker.toggle()"
        matTooltipHideDelay="100"
        #skills
        class="wrapper"
      >
        <img src="assets/images/docker-logo.svg" alt="" />
        <span>Docker</span>
      </div>
      <div
        matTooltipClass="badges-info"
        #figma="matTooltip"
        matTooltip="The best designing tool running in browsers!"
        (click)="figma.toggle()"
        matTooltipHideDelay="100"
        #skills
        class="wrapper"
      >
        <img src="assets/images/figma-logo.svg" alt="" />
        <span>Figma</span>
      </div>
    </div>
    </div>
    <div [ngClass]="{active:screens[2].active===true}"  class="screen">Work in progress</div>
   </div>
  <!-- <div #sections class="section a">
    
  </div> -->

  <div #sections class="section b">
    <div class="title-wrapper">
      <h2>My wor</h2>
    </div>

    <svg id="circle">
      <circle r="80" cx="80" cy="80" />
    </svg>

    <div class="left">
      <span>
        Design is crucial in web development because it directly impacts user
        experience and engagement. A well-designed frontend ensures
        <span style="color: #364042; margin: 0"
          ><b>intuitive navigation</b></span
        >, making it easy for users to find what they need. It also enhances the
        website’s visual appeal, which can build trust and
        <span style="color: #364042; margin: 0"><b>credibility</b></span> with
        users. Good design improves accessibility, ensuring the site is usable
        for everyone, including those with disabilities. Overall, effective
        design in web development helps create a positive first impression,
        <span style="color: #364042; margin: 0"
          ><b>encourages interaction</b></span
        >, and ultimately drives conversions.
      </span>
    </div>

    <div class="right">
      <span>
        Design is crucial in web development because it directly impacts user
        experience and engagement. A well-designed frontend ensures
        <span style="color: #364042; margin: 0"
          ><b>intuitive navigation</b></span
        >, making it easy for users to find what they need. It also enhances the
        website’s visual appeal, which can build trust and
        <span style="color: #364042; margin: 0"><b>credibility</b></span> with
        users. Good design improves accessibility, ensuring the site is usable
        for everyone, including those with disabilities. Overall, effective
        design in web development helps create a positive first impression,
        <span style="color: #364042; margin: 0"
          ><b>encourages interaction</b></span
        >, and ultimately drives conversions.
      </span>
    </div>
  </div>

  <div #sections class="section c">
    <div class="text-container">
    <h1>My personality</h1>
    <h2>ENFJ Protagonist</h2>
    <h4>
      Who is the Protagonist personality type? ENFJ (Protagonist) is a
      personality type with the Extraverted, Intuitive, Feeling,
      and Judging traits. These warm, forthright types love helping others, and
      they tend to have strong ideas and values. They back their perspective
      with the creative energy to achieve their goals.
    </h4>
  </div>
  </div>

  <div #sections class="section d">
    <div class="text-container">
    <h1>My personality</h1>
    <h2>ENFJ Protagonist</h2>
    <h4>
      Who is the Protagonist personality type? ENFJ (Protagonist) is a
      personality type with the Extraverted, Intuitive, Feeling,
      and Judging traits. These warm, forthright types love helping others, and
      they tend to have strong ideas and values. They back their perspective
      with the creative energy to achieve their goals.
    </h4>
  </div>
  </div>

  <!-- <div #sections class="section f">
    <div class="title-wrapper">
      <h2>My personality</h2>

    </div>


    <div class="blocks">
      <div class="f1">
        <div class="text">

          <h4>ENFJ Diplomat <span>&#9876;</span> Protagonist</h4>

          <p>
            <b>ENFJ</b> (Protagonist) is a personality type with the <b>Extraverted, Intuitive, Feeling, and Judging
              traits. These
              warm,
              forthright types love helping others,</b> and they tend to have strong
            ideas and values. They back their
            perspective
            with the creative energy to achieve their goals.
          </p>
        </div>
      </div>
      <div class="f2">


        <div #quotesContainer class="quotes-container">
          <div class="wrapper">
            <span #quote class="quote">
              <span class="symbol"[innerHTML]="cross"></span>
              <span> Getting Involved</span>
            </span>

            <div #quote class="quote">
              <span class="symbol"  [innerHTML]="scale"></span>
              <span>Speaking Up for What's Right</span>
            </div>

            <div #quote class="quote">

              <span class="symbol"  [innerHTML]="arrow"></span>

              <span>Leading the Way</span>
            </div>
            <span #quote class="quote">

              <span class="symbol"  [innerHTML]="sun"></span>

              <span>Strive to have a positive impact</span>
            </span>
            <div #quote class="quote">

              <span class="symbol"  [innerHTML]="chess_tower"></span>

              <span> Rarely shy away from an opportunity</span>
            </div>
          </div>
        </div>




      </div>
    </div>



  </div> -->

  <!-- <div #sections class="section c">
  <h2>My style</h2>

<div class="blocks">
    <div class="c1">

      <div>
        <h4>Design matters</h4>
        <p>
          Vivamus diam orci, consequat at iaculis vel, malesuada vel orci. Vivamus eget gravida tellus, vel pretium
          erat.
          Proin at orci vitae nisi dapibus pretium. Vestibulum aliquam magna massa, ut venenatis massa commodo a. Nulla
          luctus tempus tincidunt. In a rhoncus ipsum, ac rhoncus magna. Pellentesque bibendum tincidunt magna, eget
          luctus leo pharetra eu. Aenean pulvinar tempus elit et molestie. Maecenas eu est sed quam faucibus congue.
          Maecenas feugiat finibus sapien, quis porttitor lacus ultricies gravida. Sed porta mi nisi, ut fermentum.
        </p>
      </div>
    </div>


    <div class="c2">
      <div>
        <h4>Software design patterns</h4>
        <p>
          Vivamus diam orci, consequat at iaculis vel, malesuada vel orci. Vivamus eget gravida tellus, vel pretium
          erat.
          Proin at orci vitae nisi dapibus pretium. Vestibulum aliquam magna massa, ut venenatis massa commodo a. Nulla
          luctus tempus tincidunt. In a rhoncus ipsum, ac rhoncus magna. Pellentesque bibendum tincidunt magna, eget
          luctus leo pharetra eu. Aenean pulvinar tempus elit et molestie. Maecenas eu est sed quam faucibus congue.
          Maecenas feugiat finibus sapien, quis porttitor lacus ultricies gravida. Sed porta mi nisi, ut fermentum.
        </p>
      </div>

    </div>
  </div>

  </div> -->

  <!--
  <div class="section d">

    <div class="d1">

      <div>
        <h2>About me</h2>
        <p>
          Vivamus diam orci, consequat at iaculis vel, malesuada vel orci. Vivamus eget gravida tellus, vel pretium erat.
          Proin at orci vitae nisi dapibus pretium. Vestibulum aliquam magna massa, ut venenatis massa commodo a. Nulla
          luctus tempus tincidunt. In a rhoncus ipsum, ac rhoncus magna. Pellentesque bibendum tincidunt magna, eget
          luctus
          leo pharetra eu. Aenean pulvinar tempus elit et molestie. Maecenas eu est sed quam faucibus congue. Maecenas
          feugiat finibus sapien, quis porttitor lacus ultricies gravida. Sed porta mi nisi, ut fermentum.
        </p>

      </div>

    </div>
    <div class="d2">

   <img src="assets/fingerprint.svg" alt="">
    </div>


  </div> -->

  <!-- <div #sections class="section e">

      <h2>My work culture</h2>


    <div class="title-wrapper">


    </div>
    <div class="blocks">
      <div class="e1">




        <div class="text-title-wrapper">
          <h4>What do I value in a professional environment</h4>
          <p>
            Vivamus diam orci, consequat at iaculis vel, malesuada vel orci. Vivamus eget gravida tellus, vel pretium
            erat.
            Proin at orci vitae nisi dapibus pretium. Vestibulum aliquam magna massa, ut venenatis massa commodo a.
            Nulla
            luctus tempus tincidunt. <span>In a rhoncus ipsum</span>, ac
            rhoncus magna. Pellentesque bibendum tincidunt magna, eget
            luctus
            leo pharetra eu. Aenean pulvinar tempus elit et molestie. <span
             >Maecenas</span> eu est sed quam faucibus congue. Maecenas
            feugiat finibus sapien, quis porttitor lacus ultricies gravida. Sed porta mi nisi, ut fermentum.
          </p>
        </div>


      </div>
      <div class="e2">
        <div class="bee-wrapper">
          <img src="assets/images/bee.png" alt="bee drawing">
        </div>
      </div>
    </div>




  </div> -->

  <!-- <div class="section g">

    <p>
      “Protagonists are inspiring<br/> optimists, readily taking action to do what they feel is right.”
    </p>

  </div> -->
<div #sections
(mouseleave)="resetBannerActiveState()"
class="
  section
  bottom-navigation-banners" >
<div
(click)="navigateTo(banner.path)"
[ngClass]="{active:banner.active, inactive:!banner.active}"
*ngFor="let banner of navigationBanners; let i = index;"
(mouseover)="opacityOnSibiling_effect(i)"
 class="banner">{{banner.name}}</div>

  </div>
</div>
