//mobile styling



@media (max-width: 1000px) {





    .section {
      // border: 2px solid red;
      // padding: 10px;
      margin: 0;
      opacity: 1;
      &.show {
        transition: 0.6s;
        opacity: 1;
      }
      // section a
      &.a {
        opacity: 1;
        position: relative;
        background-color: #5B6D92;
        height: 600px;
        color: white;
        display: flex;
        flex-direction: column;
        // justify-content: left;
        align-items: center;

        .text {
          // border: 1px solid black;
          width: 100%;
          // padding: 20px;
          padding-top: 20px;
          padding-left: 0;
          text-align: left;
          h1 {
            margin: 0;
            font-size: 76.64px;
          }
          span {
            font-size: 15.65px;
            font-weight: 500;
          }
        }
        .frameworks-logos {
          width: 100%;
          margin-top: 50px;
          // padding-left: 30px;
          z-index: 0;
          position: relative;
          height: 50%;
          // width: 40%;
          display: flex;
          justify-content: start;
          align-items: self-end;
          flex-direction: row;
          gap: 60px;
          flex-wrap: wrap;
          .wrapper {
            width: 80px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            opacity: 0;
            img{
              max-height: 40px;
            }
            span {
              font-weight: 600;
              text-align: center;
              font-size: 15.65px;
            }
            &.slideIn {
              transition: all 0.4s;
              opacity: 1;
              animation: slideIn;
              animation-duration: 0.4s;
              animation-fill-mode: forwards;
            }

          }
        }
      }
      // section b
      &.b {
        // display: block;
        // flex-direction: column;

        // height: unset;
        // border: 1px solid green;
        // background-color: #CBDDE2;

        .b1,
        .b2 {

          // display: flex;
          // justify-content: center;
          // align-items: center;
          // z-index: 1;
          // span{
          //   max-width: unset;
          //   margin: unset;
          // }
        }
        .b1 {
          // display: flex;
          // flex-direction: column;
          // text-align: center;


          // .title-wrapper{
          //   // width: 100%;
          //   text-align: left;
          // }
          // img {
          //   display: none;
          //   max-width: unset;
          // }
          // h4 {
          //   color: #364042;
          //   font-size: 36.9px;
          //   font-weight: 600;
          //   padding: 0;
          //   // width: 100%;
          // }
          // p {
          //   font-size: 24.46px;
          //   font-weight: 500;
          //   margin: 0;
          // }
          // span{
          //   max-width: 0;
          // }
        }
        .b2 {
          // flex-basis: 100%;
          // background-color: #CBDDE2;
          // span {
          //   color: #364042;
          //   font-size: 15.65px;
          // }
        }
      }
      //section c
      &.c,&.d {
        // height: calc(100vh - 52px);

      // justify-content: left;
      .text-container{
        padding: 0;
        max-width: 100%;
        h1{
          font-size: 4em;
        }
        h2{
          font-size: 3em;
        }
        h4{
         font-size:1em

        }
      }

      }


      &.bottom-navigation-banners{
  height: calc(100vh - 52px);
  box-sizing: border-box;
        .banner{
          padding: 2em 1em;
          writing-mode: vertical-lr;
          text-orientation: upright;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }


      //section d
      &.d {

        // display: flex;
        // flex-direction: row;
        // // width: 100%;
        // height: 813px;
        // .d1,
        // .d2 {
        //   flex-basis: 100%;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   background-color: #8B8A7B;
        // }
        // .d1 {
        //   color: white;
        //   p {
        //     font-size: 24.46px;
        //     font-weight: 500;
        //     margin: 0
        //   }
        // }
      }
      //section e
      &.e {



        .blocks {
          display: flex;
          flex-direction: column;



          .e1,
          .e2 {
            background-color: white;
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .text-title-wrapper{
              max-width: unset;
            }

          }


          .e1 {



            p {
              font-size: 15.65px;
              font-weight: 500;
            }
          }
          .e2 {
            flex-basis: 300px;
            display: flex;
            position: relative;
            .bee-wrapper {
              display: flex;
              align-items: center;
              img {
                max-width: 200px;
                width: 100%;
                &:hover {
                  animation: vibrate;
                  animation-duration: 0.01s;
                  animation-iteration-count: 50;
                }
              }
            }
          }
        }
      }
      //section f
      &.f {



        // .blocks{
        //   border: 1px solidr red;
        //   flex-direction: column;

        // }

      }
      &.g {
        p {
          margin: 0;
          padding-left: 200px;
          font-size: 59.71px;
          color: white;
          font-weight: 100;
        }
        // background-color: #9B8F9C;
      }
    }
    @keyframes slideIn {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
    }


    @keyframes slideInFromLeft {
      from {
        opacity: 0;
        transform: translateX(-500px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes vibrate {
      0% {
        transform: translatex(-5px);
        rotate: 0deg
      }
      ;
      50% {
        transform: translatex(5px);
        rotate: 3deg
      }
      ;
      100% {
        transform: translatex(-5px);
        rotate: 0deg
      }
      ;
    }

    }
