// mobile styling import


// @import url('./homepage.component-mobile.scss');




.component-wrapper{
  // max-width: 1040px;
  margin: auto;

}

#bg_animation{
  position: absolute;
  
}

//desktop styling

// h4 {
//   color: #364042;
//   font-size: 36.9px;
//   font-weight: 600;
//   padding: 0;
//   margin: 0;
// }



.section {

    padding: 0;
    margin: 0;
    opacity: 0;
    &.show {
      transition: 0.6s;
      opacity: 1;
    }
    // section a
    &.a {

      // margin-bottom: 136px;
      opacity: 1;
      position: relative;
      background-color: #5B6D92;
      height: calc(100vh - 84px);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        text-align: center;
        h1 {
          margin: 0;
          font-size: 93.3px;
        }
        span {
          font-size: 30.58px;
        }
      }
      .frameworks-logos {
        z-index: 0;
        position: absolute;
        bottom: 15px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        .wrapper {

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          opacity: 0;
          span {
            font-weight: 600;
          }
          &.slideIn {
            transition: all 0.4s;
            opacity: 1;
            animation: slideIn;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
          }
        }
      }
    }
    // section b
    // &.b {
    //   display: flex;
    //   flex-direction: row;
    //   width: 100%;
    //   height: 761px;
    //   .b1,
    //   .b2 {
    //     flex-basis: 50%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     z-index: 1;
    //   }
    //   .b1 {
    //     background-color: #CBDDE2;
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    //     img {
    //       max-width: 340px;
    //     }

    //     p {
    //       margin: 1rem;
    //       max-width: 422px;
    //       font-size: 24.46px;
    //       font-weight: 500;
    //       margin: 0;
    //     }
    //   }
    //   .b2 {
    //     background-color: #9B8F9C;
    //     span {
    //       color: #ffffff;
    //       margin: 1rem;
    //       max-width: 422px;
    //       font-size: 24.46px;
    //     }
    //   }
    // }

    &.b{

      display: none;
      margin: 20px;
      position: relative;
      .b1,.b2{
        // border: 1px solid red;
      }
      #circle {
        width: 160px;
        height: 160px;
        position: absolute;
        top: 7px;
        left: 50%;
        margin-left: -80px;
        display: block;
    }
    circle { fill: aqua}

    .left, .right {
      font-size: 16px;
      // margin-bottom: 136px;
      margin: 44px 0;
      width: 49%;
      text-align:justify
    }
    .left {float: left;}
    .right {float: right;}

    .left:before, .right:before {
        content: "";
        width: 80px;
        height: 160px;
    }
    .left:before {
        float: right;
        shape-outside: circle(farthest-side at right);
    }
    .right:before {
        float: left;
        shape-outside: circle(farthest-side at left);
    }

    }
    //section c
  //   &.c {
  //    padding: 1em;
  //    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  //    background-color: white;
  //    h2{
  //     color: var(--primary);

  // }


  //    .blocks{
  //     display: flex;
  //     flex-direction: row;
  //     width: 100%;
  //     gap: 20px;
  //    }

  //     .c1,.c2{


  //     }

  //   //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  //   //   background-color: white;
  //   //   display: flex;
  //   //   flex-direction: row;
  //   //   width: 100%;
  //   //   .c1,
  //   //   .c2 {
  //   //     flex-basis: 50%;
  //   //     display: flex;
  //   //     justify-content: center;
  //   //     align-items: center;
  //   //     // border: 1px solid red;
  //   //   }

  //   //   .c2,c1 {

  //   //     p {
  //   //       margin: 1rem;
  //   //       max-width: 422px;
  //   //       // font-size: 24.46px;
  //   //       font-size: 16px;
  //   //       font-weight: 500;
  //   //       margin: 0
  //   //     }
  //   //   }
  //   }




  &.c{
    height: 100vh;
    height: calc(100vh - 84px);
background-color: white;
display: flex;
justify-content: right;
align-items: center;
    .text-container{
      padding-right: 2em;
      max-width: 50%;
      h2,h3,p{
// text-align: right;
      }
      h1,h2{
        margin: 0;
      }
      h1{
        font-size: 91px;
      }
      h2{
        font-weight: 300;
        font-size: 59.7px;
      }
      h4{
        font-size: 24.46px;
      }
    }
  }


  &.d{
    background-color: var(--background);
    height: 100vh;
    height: calc(100vh - 84px);
display: flex;
justify-content: left;
align-items: center;
    .text-container{
      padding-left: 4em;
      max-width: 50%;
      h2,h3,p{
// text-align: right;
      }
      h1,h2{
        margin: 0;
      }
      h1{
        font-size: 91px;
      }
      h2{
        font-weight: 300;
        font-size: 59.7px;
      }
      h4{
        font-size: 24.46px;
      }
    }
  }

  &.bottom-navigation-banners{
    height: calc(100vh - 84px);
    display: flex;

    // &:hover{
    //   opacity: 0.5;
    // }

    .banner{
      flex-basis: 33%;
      display: flex;
      align-items: start;
      justify-content: center;
      padding: 2em;
      font-size: 2em;
      font-weight:400;
      transition: all 0.4s;

      cursor:pointer;

      &.active{
        color:white
      }


      &.inactive{
        opacity: 0.3;
      }

    }

    .banner:nth-child(1){
      background-color: #8B8A7B;

    }

    .banner:nth-child(2){
      background-color: #364042;
    }

    .banner:nth-child(3){
      background-color: #9B8F9C;

    }







  }

    //section d
    // &.d {

    //   display: flex;
    //   flex-direction: row;
    //   width: 100%;
    //   height: 813px;

    //   .d1,
    //   .d2 {
    //     flex-basis: 50%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     background-color: #8B8A7B;
    //   }
    //   .d1 {
    //     color: white;
    //     p {
    //       margin: 1rem;
    //       max-width: 422px;
    //       // font-size: 24.46px;
    //       font-weight: 500;
    //       margin: 0
    //     }
    //   }
    // }
    //section e
    &.e {
      padding: 1em;
      margin: 1em 0;

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;

      // position: relative;
      // display: flex;
      // flex-direction: row;

      // .title-wrapper{
      //   display: flex;
        // margin: 180px 0;

      // }
      // width: 100%;
      // height:1131px;
      // h2 {
      //   // padding-left: 40px;
      //   // font-size: 93.3px;
      //   font-weight: 700;
      //   // position: absolute;
      //   top: 0;
      // }


      h2{
        color: var(--primary);
      }
      .blocks {
        display: flex;
        justify-content: space-between;
        .e1,
        .e2 {
          flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
        }
        .e1 {
          // flex-direction: column;

          padding-right: 20px;
          .text-title-wrapper{
            // max-width: 422px;
            // h2{
            //   margin: 0;
            //   padding: 40px 0;
            //   white-space: nowrap;
            // }
          }

          p {
            // margin-top: 50px;
            // font-size: 24.46px;
            // font-weight: 500;
            // margin: 0


          }
        }
        .e2 {
          position: relative;
          .bee-wrapper {
            img {
              max-width: 250px;
              width: 100%;
              &:hover {
                animation: vibrate;
                animation-duration: 0.01s;
                animation-iteration-count: 50;
              }
            }
          }
        }
      }
    }
    //section f
    &.f {

      .title-wrapper{
        color: var(--primary);
      }

      .text{

h4{
  span{
    color:var(--secondary)
  }
}

        b{
          color: var(--secondary);
        }

      }

      .f1{
        flex-basis: 50%;

      }

      .f2{
        flex-basis: 50%;
      }

      .f1{
        h3{
          margin-top: 0;

        }
      }

      .quote{

display: flex;
align-items: center;
gap: 15px;
        .symbol{
          color: var(--primary-dark);
          font-size: 26px;
        }

      }


  }


//       // &.show{
//       //   .quotes-container {
//       //     .quote{
//       //       animation: slideInFromLeft;
//       //       animation-duration: 0.6s;
//       //     }
//       //   }
//       // }

//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       .title-container {
//         display: flex;
//         .title-wrapper{
//           flex-basis: 50%;
//           display: flex;
//           justify-content: center;
//           h2{
//             width: 100%;
//             max-width: 422px;
//             // font-size: 93.3px;
//             font-weight: 700;
//             white-space: nowrap;
//           }

//         }




//       }
//       .blocks {
// margin: 1em 0;
//         display: flex;
//         flex-direction: row;
//         position: relative;
//         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

//         .f1 {
//           width: 50%;
//           // height: 600px;
//           position: relative;
//           justify-content: left;
//           // background-color: #cbdde2;
//           // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//           // flex-basis: 90%;
//           display: flex;
//           // justify-content: right;
//           // text-align: right;
//           img.statue {
//             display: none;
//             transition: all 0.4s;
//             @media (max-width:1650px) {
//               opacity: 0;
//             }
//             z-index: 1;
//             height: 200px;
//             // left: -70px;
//             position: absolute;
//           }
//           .text {
//             position: relative;
//             color: #364042;
//             padding-right: 20px;
//             max-width: 422px;

//             // h2{
//             //   font-size: 36.9px;
//             //   margin-bottom: 0;
//             //   position: absolute;
//             // }
//             h3 {
//               font-weight: 500;
//               font-size: 36.9px;
//               margin-top: 40px;
//             }
//             p {
//               font-weight: 400;
//               // font-size: 24.46px;


//             }
//           }
//           .quotes-container {

//             display: flex;
//             // justify-content: space-around;

//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             width: 100%;
//             font-weight: 700;
//             // font-size: 24.46px;
//             .wrapper{
//               // margin-left: 70px;
//               // margin-left: 150px;
//               display: flex;
//               flex-direction: column;
//                gap: 30px;
//              max-width: 422px;
//               .quote {

//                 .symbol{
//                   color: #5b6d92;
//                 }
//                 opacity: 0;
//                 &.slide-in{
//                   animation: slideInFromLeft;
//                   animation-duration: 0.6s;
//                   animation-fill-mode: forwards;
//                             }
//                 display: flex;

//                 align-items: start;
//                 gap: 10px;
//                 span {
//                   font-weight: 500;
//                   color: #364042;
//                 }
//               }
//             }

//           }
//         }
//         .f2 {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           flex-basis: 50%;
//           background-color: #9B8F9C;
//           .text {
//             position: relative;
//             color: white;
//             padding-right: 20px;
//             max-width: 422px;

//             // h2{
//             //   font-size: 36.9px;
//             //   margin-bottom: 0;
//             //   position: absolute;
//             // }
//             h3 {
//               font-weight: 500;
//               font-size: 36.9px;
//               margin-top: 40px;
//             }
//             p {
//               font-weight: 400;
//               // font-size: 24.46px;


//             }
//           }
//         }
//       }
//     }


&.f{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  margin: 1em 0;
  padding: 1em;
  // border: 1px solid red;
  img{
    display: none;
  }

.blocks{
display: flex;
gap: 20px;
  // .f1,.f2{
  //   flex-basis: 50%;
  // }
  margin: 1em 0;
}




}



    &.g {
      p {
        margin: 0;
        padding-left: 200px;
        font-size: 59.71px;
        color: white;
        font-weight: 100;
      }
      background-color: #9B8F9C;
    }
  }
  @keyframes slideIn {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-500px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }



  @keyframes vibrate {
    0% {
      transform: translatex(-5px);
      rotate: 0deg
    }
    ;
    50% {
      transform: translatex(5px);
      rotate: 3deg
    }
    ;
    100% {
      transform: translatex(-5px);
      rotate: 0deg
    }
    ;
  }
