<div class="component-wrapper">

    <h1>My true colors</h1>


    <div class="design-banner">
        <h2>Color Palette</h2>

        <div class="two-columns">
            <div class="images-container">

                <h5>Primary</h5>
                <img src="/assets/images/color-palette-1.svg" />
                <h5>Secondary</h5>
                <img src="/assets/images/color-palette-2.svg" />
                <h5>Background</h5>
                <img src="/assets/images/color-palette-3.svg" />
                <h5>Surface</h5>
                <img src="/assets/images/color-palette-4.svg" />
                <h5>Error</h5>
                <img src="/assets/images/color-palette-5.svg" />
            </div>
            <div class="column-text">
                <p>
                    <b>The primary color</b>, Blue Nova (#5B6D92), offers a calm, muted energy with a touch of
                    sophistication,
                    providing depth and stability in the design. <b>The secondary color</b>, Hazy Lilac (#9B8F9C) brings
                    a soft,
                    refined contrast, enhancing the palette’s sense of tranquility. Polar Sky (#CBDDE2) serves as a
                    cool, refreshing background, evoking clarity and openness, while <b>Surface</b> White (#FFFFFF)
                    provides a
                    clean, minimalist aesthetic that amplifies space. In bold contrast, <b>Radish</b> (#A4303F) adds a
                    striking, energetic accent, drawing attention to key elements. Together, these colors balance cool
                    tones with warm accents, creating a cohesive, harmonious visual identity.
                </p>

            </div>
        </div>
    </div>


    <div class="design-banner">
        <h2>Colors Combinations</h2>

        <div class="two-columns">
            <div class="images-container">
                <h5>On primary</h5>
                <img src="/assets/images/colors-combination-1.svg" />
                <h5>On secondary</h5>
                <img src="/assets/images/colors-combination-2.svg" />
                <h5>On background</h5>
                <img src="/assets/images/colors-combination-3.svg" />
                <h5>On surface</h5>
                <img src="/assets/images/colors-combination-4.svg" />
                <h5>On error</h5>
                <img src="/assets/images/colors-combination-5.svg" />
            </div>
            <div class="column-text">
                <p>
                    <b>White on Blue Nova</b> (#5B6D92) creates a striking yet elegant contrast, combining the depth of
                    the
                    blue with the brightness of white for a clean, modern feel.<b>White on Hazy Lilac</b> (#9B8F9C)
                    introduces
                    a softer contrast, allowing the lilac’s subtle elegance to shine against the purity of white,
                    promoting calm and sophistication. <b>The secondary color light variation on Surface White
                    </b>(#FFFFFF) creates
                    a seamless transition between the surface and the background, enhancing a sense of openness while
                    maintaining a light, airy atmosphere. <b>Black on Surface White</b> (#FFFFFF) offers a bold,
                    high-contrast
                    pairing, grounding the design with sharp definition, perfect for readability and focus. Lastly,
                    <b>white on Radish</b> (#A4303F) brings clarity and balance to the intense red, softening its impact
                    while
                    still maintaining a sense of urgency. These combinations expertly balance contrast with harmony,
                    creating a dynamic and cohesive design.
                </p>

            </div>
        </div>
    </div>


    <div class="design-banner">
        <h2>Colors Variations</h2>

        <div class="two-columns">
            <div class="variations-container">

                <div class="variation-primary">
                    <div class="primary-variations">
                        <div class="variation-light"></div>
                        <div class="variation-dark"></div>
                    </div>

                    <div class="primary"></div>
                </div>

                <div class="variation-secondary">
                    <div class="primary-variations">
                        <div class="variation-light"></div>
                        <div class="variation-dark"></div>
                    </div>

                    <div class="primary"></div>
                </div>
            </div>

            <div class="column-text">
                <p>
                    The primary and secondary colors play a crucial role in defining a design’s visual identity. Blue
                    Nova (#5B6D92),<b> as the primary color, anchors the design with depth and stability</b>,
                    establishing a
                    sense of trust and professionalism. It sets the tone for the entire palette. Hazy Lilac (#9B8F9C),
                    <b>the secondary color,</b> complements this foundation by adding a layer of<b> elegance and subtle
                        contrast.</b>
                    It brings warmth and refinement, softening the boldness of the primary color while creating a
                    balanced, harmonious feel. Together, these colors work in tandem to create a cohesive and engaging
                    design.
                </p>

            </div>
        </div>
    </div>





    <div class="design-banner">
        <h2>Letter Type</h2>

        <div class="two-columns fonts">

            <div class="left">
                <h5>
                    Quicksand
                </h5>
                <span class="author" >Designed by
                    <i>Andrew Paglinawan</i>
                </span>
                <p>

                    <a
                    target="_blank"
                    href="https://github.com/andrew-paglinawan/QuicksandFamily"
                    ><u>Quicksand</u></a> is a <b>display sans serif</b> with rounded terminals. The project was initiated by Andrew
                    Paglinawan in 2008 using geometric shapes as a core foundation. It is designed for <b>display purposes</b>
                    but kept <b>legible enough to use in small sizes</b> as well. In 2016, in collaboration with Andrew, it was
                    thoroughly revised by Thomas Jockin to improve the quality. In 2019, Mirko Velimirovic converted the
                    family into a variable font.
              
                </p>
            </div>

            <div class="right">
                <div>
               <h1>h1 <i>2,986rem</i> </h1>
               <h2>h2 <i>2,488rem</i></h2>
               <h3>h3 <i>2,074rem</i></h3>
               <h4>h4 <i>1,728rem</i></h4>
               <h5>h5 <i>1,44rem</i></h5>
               <h5>h6 <i>1,2rem</i></h5>
               <p>p <i>1rem</i></p>
               <span>span <i>0.833rem</i></span>
            </div>
            </div>

        </div>
    </div>



</div>