<!-- Section a -->
<div class="component-wrapper">
<div #sections class="section a">

    <div class="text">
      <h1>
        Marc.
      </h1>
      <span>
        Javascript web <br /> programmer
      </span>
    </div>
  
    <div class="frameworks-logos">
      <div #skills class="wrapper">
        <img src="assets/images/react-logo.svg" alt="">
        <span>React</span>
      </div>
      <div #skills class="wrapper">
        <img src="assets/images/angular-logo.svg" alt="">
        <span>Angular</span>
      </div>
      <div #skills class="wrapper">
        <img src="assets/images/nodejs-logo.svg" alt="">
        <span>Express JS</span>
      </div>
      <div #skills class="wrapper">
        <img src="assets/images/javascript-logo.svg" alt="">
        <span>JavaScript</span>
      </div>
      <div #skills class="wrapper">
        <img src="assets/images/docker-logo.svg" alt="">
        <span>Docker</span>
      </div>
      <div #skills class="wrapper">
        <img src="assets/images/figma-logo.svg" alt="">
        <span>Figma</span>
      </div>
  
  
    </div>
  
  </div>
  
  
  <!-- section b -->
  
  <div #sections class="section b">
  
    <div class="b1">
  
      <div class="title-wrapper" >
        <h4>Design matters</h4>
  
        <img src="assets/images/eye.png" />
      </div>
  
    </div>
    <div class="b2">
      <span>
        Design is crucial in web development because it directly impacts user experience and engagement. A well-designed
        frontend ensures <span style="color:#364042; margin:0;"><b>intuitive navigation</b></span>, making it easy for users to find
        what they need. It also enhances the
        website’s visual appeal, which can build trust and <span style="color:#364042; margin:0;"><b>credibility</b></span> with
        users. Good design improves accessibility,
        ensuring the site is usable for everyone, including those with disabilities. Overall, effective design in web
        development helps create a positive first impression, <span style="color:#364042; margin:0;"><b>encourages
            interaction</b></span>, and ultimately drives conversions.
      </span>
    </div>
  
  
  </div>
  
  
  
  <div #sections class="section c">
  
  
    <div class="c1">
      <pre><code
      
        [innerHTML]="mrMeeseeksCodeSnippet">
  
      </code></pre>
  
    </div>
  
  
    <div class="c2">
      <div>
        <h4>Software design patterns</h4>
        <p>
          Vivamus diam orci, consequat at iaculis vel, malesuada vel orci. Vivamus eget gravida tellus, vel pretium erat.
          Proin at orci vitae nisi dapibus pretium. Vestibulum aliquam magna massa, ut venenatis massa commodo a. Nulla
          luctus tempus tincidunt. In a rhoncus ipsum, ac rhoncus magna. Pellentesque bibendum tincidunt magna, eget
          luctus leo pharetra eu. Aenean pulvinar tempus elit et molestie. Maecenas eu est sed quam faucibus congue.
          Maecenas feugiat finibus sapien, quis porttitor lacus ultricies gravida. Sed porta mi nisi, ut fermentum.
        </p>
      </div>
  
    </div>
  
  </div>
  
  
  
  <!--
  <div class="section d">
  
    <div class="d1">
  
      <div>
        <h2>About me</h2>
        <p>
          Vivamus diam orci, consequat at iaculis vel, malesuada vel orci. Vivamus eget gravida tellus, vel pretium erat.
          Proin at orci vitae nisi dapibus pretium. Vestibulum aliquam magna massa, ut venenatis massa commodo a. Nulla
          luctus tempus tincidunt. In a rhoncus ipsum, ac rhoncus magna. Pellentesque bibendum tincidunt magna, eget
          luctus
          leo pharetra eu. Aenean pulvinar tempus elit et molestie. Maecenas eu est sed quam faucibus congue. Maecenas
          feugiat finibus sapien, quis porttitor lacus ultricies gravida. Sed porta mi nisi, ut fermentum.
        </p>
  
      </div>
  
    </div>
    <div class="d2">
  
   <img src="assets/fingerprint.svg" alt="">
    </div>
  
  
  </div> -->
  
  
  
  
  
  <div #sections class="section e">
  
  
    <div class="title-wrapper">
     
  
    </div>
    <div class="blocks">
      <div class="e1">
        
  
       
  
          <div class="text-title-wrapper">
            <h4>My work culture</h4>
            <p>
            Vivamus diam orci, consequat at iaculis vel, malesuada vel orci. Vivamus eget gravida tellus, vel pretium
            erat.
            Proin at orci vitae nisi dapibus pretium. Vestibulum aliquam magna massa, ut venenatis massa commodo a. Nulla
            luctus tempus tincidunt. <span style=" background-color:black;color:gold">In a rhoncus ipsum</span>, ac
            rhoncus magna. Pellentesque bibendum tincidunt magna, eget
            luctus
            leo pharetra eu. Aenean pulvinar tempus elit et molestie. <span
              style=" background-color:black;color:gold">Maecenas</span> eu est sed quam faucibus congue. Maecenas
            feugiat finibus sapien, quis porttitor lacus ultricies gravida. Sed porta mi nisi, ut fermentum.
          </p>
          </div>
  
  
      </div>
      <div class="e2">
        <div class="bee-wrapper">
          <img src="assets/images/bee.png" alt="bee drawing">
        </div>
      </div>
    </div>
  
  
  
  
  </div>
  
  
  
  <div #sections class="section f">
  
    <div class="title-container">
      <div class="title-wrapper"> 
        <h4>My personality</h4>
      
      </div>
  
      <!-- <div class="title-wrapper"> 
        <h2>My personality</h2>
      
      </div> -->
      
  
    </div>
    <div class="blocks">
      <div class="f1">
        <img class="statue" src="assets/images/statue-profile.png" alt="">
        <div #quotesContainer class="quotes-container">
          <div class="wrapper">
          <span #quote class="quote">
            <span class="symbol" style="font-size: 30px;" [innerHTML]="cross"></span>
           <span> Getting Involved</span>
          </span>
  
          <div #quote class="quote">
            <span class="symbol" style="font-size: 30px;" [innerHTML]="scale"></span>
            <span>Speaking Up for What's Right</span>
          </div>
  
          <div #quote class="quote">
  
            <span class="symbol" style="font-size: 30px;" [innerHTML]="arrow"></span>
  
            <span>Leading the Way</span>
          </div>
          <span #quote class="quote">
  
            <span class="symbol" style="font-size: 30px;" [innerHTML]="sun"></span>
  
           <span>Strive to have a positive impact</span>
          </span>
          <div #quote class="quote">
  
            <span class="symbol" style="font-size: 30px;" [innerHTML]="chess_tower"></span>
  
           <span> Rarely shy away from an opportunity</span>
          </div>
        </div>
        </div>
  
        <!-- <div class="text">
  
          <h3>ENFJ Diplomat <br /><span>&#9876;</span> Protagonist</h3>
  
          <p>
            <b>ENFJ</b> (Protagonist) is a personality type with the <b>Extraverted, Intuitive, Feeling, and Judging
              traits. These
              warm,
              forthright types love helping others,</b> and they tend to have strong
            ideas and values. They back their
            perspective
            with the creative energy to achieve their goals.
          </p>
  
    
  
        </div> -->
  
  
  
      </div>
      <div class="f2">
  
        <div class="text">
  
          <h3>ENFJ Diplomat <br /><span>&#9876;</span> Protagonist</h3>
  
          <p>
            <b>ENFJ</b> (Protagonist) is a personality type with the <b>Extraverted, Intuitive, Feeling, and Judging
              traits. These
              warm,
              forthright types love helping others,</b> and they tend to have strong
            ideas and values. They back their
            perspective
            with the creative energy to achieve their goals.
          </p>
  
    
  
        </div>
  
  <!-- 
          <div class="quotes-container">
            <span class="wrapper">
              <span style="font-size: 30px;" [innerHTML]="cross"></span>
              Getting Involved
            </span>
    
            <span class="wrapper">
              <span style="font-size: 30px;" [innerHTML]="scale"></span>
              Speaking Up for What's Right
            </span>
    
            <span class="wrapper">
    
              <span style="font-size: 30px;" [innerHTML]="arrow"></span>
    
              Leading the Way
            </span>
    
          </div>
   
  
        <img class="statue" src="assets/column.png" alt="">
   -->
  
  
  
  
      </div>
    </div>
  
  
  
  </div>
  
  <!-- <div class="section g">
  
    <p>
      “Protagonists are inspiring<br/> optimists, readily taking action to do what they feel is right.”
    </p>
  
  </div> -->

</div>