//mobile styling



@media (max-width: 1000px) {





    .section {
      
      padding: 0;
      margin: 0;
      opacity: 1;
      &.show {
        transition: 0.6s;
        opacity: 1;
      }
      // section a
      &.a {
        opacity: 1;
        position: relative;
        background-color: #5B6D92;
        height: 700px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        
        .text {
          padding: 20px;
          text-align: left;
          h1 {
            margin: 0;
            font-size: 76.64px;
          }
          span {
            font-size: 15.65px;
            font-weight: 500;
          }
        }
        .frameworks-logos {
         
          margin-top: 50px;
          padding-left: 30px;
          z-index: 0;
          position: relative;
          height: 50%;
          width: 40%;
          display: flex;
          // justify-content: end;
          align-items: start;
          flex-direction: column;
          gap: 30px;
          flex-wrap: wrap;
          .wrapper {
            width: 80px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
           
            opacity: 0;
            img{
              max-height: 40px;
            }
            span {
              font-weight: 600;
              text-align: center;
              font-size: 15.65px;
            }
            &.slideIn {
              transition: all 0.4s;
              opacity: 1;
              animation: slideIn;
              animation-duration: 0.4s;
            }
          }
        }
      }
      // section b
      &.b {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: unset;
        .b1,
        .b2 {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
        }
        .b1 {
          background-color: #CBDDE2;
          display: flex;
          flex-direction: column;
          text-align: center;
    
    
          .title-wrapper{
            max-width: 422px;
            width: 100%;
            text-align: left;
          }
          img {
            display: none;
          }
          h4 {
            color: #364042;
            font-size: 36.9px;
            font-weight: 600;
            padding: 0;
            margin: 1rem;
            // width: 100%;
          }
          p {
            margin: 1rem;
            max-width: 422px;
            font-size: 24.46px;
            font-weight: 500;
            margin: 0;
          }
        }
        .b2 {
          flex-basis: 100%;
          background-color: #CBDDE2;
          span {
            color: #364042;
            margin: 1rem;
            max-width: 422px;
            font-size: 15.65px;
          }
        }
      }
      //section c
      &.c {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        .c1,
        .c2 {
          background-color: white;
          flex-basis: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .c1 {
        
          background-color: #202020;
          code{
           color:gold; font-size: 12.46px;
          }
        }
        .c2 {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          h4 {
            
            font-size: 36.9px;
            font-weight: 600;
            margin: 1rem;
          }
          p {
            color: #364042;
            // margin: 1rem;
            max-width: 422px;
            font-size: 15.65px;
            font-weight: 500;
            margin: 1rem;
          }
        }
      }
      //section d
      &.d {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 813px;
        h2 {
          font-size: 93.3px;
          font-weight: 700;
          margin-top: 0;
        }
        .d1,
        .d2 {
          flex-basis: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #8B8A7B;
        }
        .d1 {
          color: white;
          p {
            margin: 1rem;
            max-width: 422px;
            font-size: 24.46px;
            font-weight: 500;
            margin: 0
          }
        }
      }
      //section e
      &.e {
        // position: relative;
        // display: flex;
        // flex-direction: row;
        width: 100%;
        margin: auto;
      
        h2 {
    
          color: #364042;
        font-size: 36.9px;
        font-weight: 600;
      
          // position: absolute;
          // top: 0;
        }
        .blocks {
          display: flex;
          flex-direction: column;
          .e1,
          .e2 {
            background-color: white;
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
          }
    
          .e1 {
    
            .text-title-wrapper{
              h2{
                margin: 1rem;
              
              }
            }
        
            p {
              margin: 1rem;
              max-width: 422px;
              font-size: 15.65px;
              font-weight: 500;
            }
          }
          .e2 {
            flex-basis: 300px;
            display: flex;
            position: relative;
            .bee-wrapper {
              display: flex;
              align-items: center;
              img {
                max-width: 200px;
                width: 100%;
                &:hover {
                  animation: vibrate;
                  animation-duration: 0.01s;
                  animation-iteration-count: 50;
                }
              }
            }
          }
        }
      }
      //section f
      &.f {
    
    
        // &.show{
        //   .quotes-container {
        //     .quote{
        //       animation: slideInFromLeft;
        //       animation-duration: 0.6s;
        //     }
        //   }
        // }
    
        width: 100%;
        display: flex;
        flex-direction: column;
        .title-container {
          background-color: #9B8F9C;
        
          display: flex;
          .title-wrapper{
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            h2{
              width: 100%;
              max-width: 422px;
              white-space: nowrap;
                color: white;
                margin: 1rem;
        font-size: 36.9px;
        font-weight: 600;
            }
            
          }
    
    
          
     
        }
        .blocks {
          display: flex;
          flex-direction: column-reverse;
          position: relative;
          .f1 {
            width: 100%;
            flex-basis: 500px;
            position: relative;
            justify-content: left;
            background-color: #cbdde2;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            // flex-basis: 90%;
            display: flex;
            // justify-content: right;
            // text-align: right;
            img.statue {
              transition: all 0.4s;
              @media (max-width:1650px) {
                opacity: 0;
              }
              // z-index: 1;
              height: 500px;
              left: -70px;
              position: absolute;
            }
            .text {
              position: relative;
              color: #364042;
              max-width: 422px;
           
              // h2{
              //   font-size: 36.9px;
              //   margin-bottom: 0;
              //   position: absolute;
              // }
              h3 {
                font-weight: 500;
                font-size: 26.9px;
                // margin-top: 40px;
                
              }
              p {
                font-weight: 400;
                font-size: 24.46px;
    
              
              }
            }
            .quotes-container {
         
              display: flex;
              // justify-content: space-around;
              margin: 1rem;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              font-weight: 700;
              font-size: 15.65px;
              .wrapper{
                // margin-left: 70px;
                display: flex;
                flex-direction: column;
                 gap: 30px;
               max-width: 422px;
                .quote {
                  display: flex;
                  align-items: center;
                  
                  .symbol{
                    color: #5b6d92;
                  }
                  opacity: 0;
                  &.slide-in{
                    animation: slideInFromLeft;
                    animation-duration: 0.6s;  
                    animation-fill-mode: forwards;
                              }
                  display: flex;
               
                  align-items: center;
                  gap: 10px;
                  span {
                    font-weight: 500;
                    color: #364042;
                  }
                }
              }
           
            }
          }
          .f2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 100%;
            background-color: #9B8F9C;
            .text {
              position: relative;
              color: white;
              padding-right: 0px;
              max-width: 422px;
         
              h3 {
                font-weight: 500;
                font-size: 29.52px;
                // margin-top: 40px;
                white-space: nowrap;
                color: #202020;
                margin: 0;
                margin: 1rem;
              }
          
              p {
                font-weight: 400;
                font-size: 15.65px;
                margin: 1rem;
              
              }
            }
          }
        }
      }
      &.g {
        p {
          margin: 0;
          padding-left: 200px;
          font-size: 59.71px;
          color: white;
          font-weight: 100;
        }
        background-color: #9B8F9C;
      }
    }
    @keyframes slideIn {
      from {
        transform: translateY(100px);
      }
      to {
        transform: translateY(0);
      }
    }
    
    
    @keyframes slideInFromLeft {
      from {
        opacity: 0;
        transform: translateX(-500px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    @keyframes vibrate {
      0% {
        transform: translatex(-5px);
        rotate: 0deg
      }
      ;
      50% {
        transform: translatex(5px);
        rotate: 3deg
      }
      ;
      100% {
        transform: translatex(-5px);
        rotate: 0deg
      }
      ;
    }
    
    }