// mobile styling import


// @import url('./homepage.component-mobile.scss');


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.component-wrapper{
  max-width: 1040px;
  margin: auto;

}

//desktop styling

h4 {
  color: #364042;
  font-size: 36.9px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}


body{
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;

}

h1,h2,h3,h4,h5,h6,p,span{
  font-family: "Quicksand", sans-serif;
}


.component-wrapper{
  background-color: white;
}


.section {

    padding: 0;
    margin: 0;
    opacity: 0;
    &.show {
      transition: 0.6s;
      opacity: 1;
    }
    // section a
    &.a {
      opacity: 1;
      position: relative;
      background-color: #5B6D92;
      height: 100vh;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        text-align: center;
        h1 {
          margin: 0;
          font-size: 93.3px;
        }
        span {
          font-size: 30.58px;
        }
      }
      .frameworks-logos {
        z-index: 0;
        position: absolute;
        bottom: 15px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        .wrapper {
  
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          opacity: 0;
          span {
            font-weight: 600;
          }
          &.slideIn {
            transition: all 0.4s;
            opacity: 1;
            animation: slideIn;
            animation-duration: 0.4s;
          }
        }
      }
    }
    // section b
    &.b {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 761px;
      .b1,
      .b2 {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
      .b1 {
        background-color: #CBDDE2;
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
          max-width: 340px;
        }

        p {
          margin: 1rem;
          max-width: 422px;
          font-size: 24.46px;
          font-weight: 500;
          margin: 0;
        }
      }
      .b2 {
        background-color: #9B8F9C;
        span {
          color: #ffffff;
          margin: 1rem;
          max-width: 422px;
          font-size: 24.46px;
        }
      }
    }
    //section c
    &.c {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 1030px;
      .c1,
      .c2 {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .c1 {
        background-color: #202020;
        code{
         color:gold; font-size: 18.46px;
        }
      }
      .c2 {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        h4 {
          color: #364042;
          font-size: 36.9px;
          font-weight: 600;
        }
        p {
          margin: 1rem;
          max-width: 422px;
          font-size: 24.46px;
          font-weight: 500;
          margin: 0
        }
      }
    }
    //section d
    &.d {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 813px;

      .d1,
      .d2 {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8B8A7B;
      }
      .d1 {
        color: white;
        p {
          margin: 1rem;
          max-width: 422px;
          font-size: 24.46px;
          font-weight: 500;
          margin: 0
        }
      }
    }
    //section e
    &.e {
      
      // position: relative;
      // display: flex;
      // flex-direction: row;
  
      // .title-wrapper{
      //   display: flex;
        margin: 180px 0;
  
      // }
      width: 100%;
      // height:1131px;
      h2 {
        // padding-left: 40px;
        font-size: 93.3px;
        font-weight: 700;
        // position: absolute;
        top: 0;
      }
      .blocks {
        display: flex;
        .e1,
        .e2 {
          flex-basis: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .e1 {
          flex-direction: column;
  
          .text-title-wrapper{
            max-width: 422px;
            h2{
              margin: 0;
              padding: 40px 0;
              white-space: nowrap;
            }
          }
    
          p {
            margin-top: 50px;
            font-size: 24.46px;
            font-weight: 500;
            margin: 0
            
         
          }
        }
        .e2 {
          position: relative;
          .bee-wrapper {
            img {
              max-width: 350px;
              width: 100%;
              &:hover {
                animation: vibrate;
                animation-duration: 0.01s;
                animation-iteration-count: 50;
              }
            }
          }
        }
      }
    }
    //section f
    &.f {
  
  
      // &.show{
      //   .quotes-container {
      //     .quote{
      //       animation: slideInFromLeft;
      //       animation-duration: 0.6s;
      //     }
      //   }
      // }
  
      width: 100%;
      display: flex;
      flex-direction: column;
      .title-container {
        display: flex;
        .title-wrapper{
          flex-basis: 50%;
          display: flex;
          justify-content: center;
          h2{
            width: 100%;
            max-width: 422px;
            font-size: 93.3px;
            font-weight: 700;
            white-space: nowrap;
          }
          
        }
  
  
        
   
      }
      .blocks {
        display: flex;
        flex-direction: row;
        position: relative;
        .f1 {
          width: 50%;
          height: 600px;
          position: relative;
          justify-content: left;
          background-color: #cbdde2;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          // flex-basis: 90%;
          display: flex;
          // justify-content: right;
          // text-align: right;
          img.statue {
            transition: all 0.4s;
            @media (max-width:1650px) {
              opacity: 0;
            }
            z-index: 1;
            height: 500px;
            left: -70px;
            position: absolute;
          }
          .text {
            position: relative;
            color: #364042;
            padding-right: 20px;
            max-width: 422px;
         
            // h2{
            //   font-size: 36.9px;
            //   margin-bottom: 0;
            //   position: absolute;
            // }
            h3 {
              font-weight: 500;
              font-size: 36.9px;
              margin-top: 40px;
            }
            p {
              font-weight: 400;
              font-size: 24.46px;
  
            
            }
          }
          .quotes-container {
       
            display: flex;
            // justify-content: space-around;
         
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-weight: 700;
            font-size: 24.46px;
            .wrapper{
              // margin-left: 70px;
              display: flex;
              flex-direction: column;
               gap: 30px;
             max-width: 422px;
              .quote {
  
                .symbol{
                  color: #5b6d92;
                }
                opacity: 0;
                &.slide-in{
                  animation: slideInFromLeft;
                  animation-duration: 0.6s;  
                  animation-fill-mode: forwards;
                            }
                display: flex;
                
                align-items: start;
                gap: 10px;
                span {
                  font-weight: 500;
                  color: #364042;
                }
              }
            }
         
          }
        }
        .f2 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 50%;
          background-color: #9B8F9C;
          .text {
            position: relative;
            color: white;
            padding-right: 20px;
            max-width: 422px;
         
            // h2{
            //   font-size: 36.9px;
            //   margin-bottom: 0;
            //   position: absolute;
            // }
            h3 {
              font-weight: 500;
              font-size: 36.9px;
              margin-top: 40px;
            }
            p {
              font-weight: 400;
              font-size: 24.46px;
  
            
            }
          }
        }
      }
    }
    &.g {
      p {
        margin: 0;
        padding-left: 200px;
        font-size: 59.71px;
        color: white;
        font-weight: 100;
      }
      background-color: #9B8F9C;
    }
  }
  @keyframes slideIn {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-500px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  
  @keyframes vibrate {
    0% {
      transform: translatex(-5px);
      rotate: 0deg
    }
    ;
    50% {
      transform: translatex(5px);
      rotate: 3deg
    }
    ;
    100% {
      transform: translatex(-5px);
      rotate: 0deg
    }
    ;
  }