
<div class="article-container">
       <form  [formGroup]="articleForm" enctype="multipart/form-data">
       <!-- cover image 1_A -->
       <div class="cover-image one_A">
              <label>1_A</label>
              <input
              name="photo" type="file" class="file-input" (change)="onFileSelected($event, '1_A')" #fileUpload>
              <div *ngIf="imagesPreview['1_A']">
                     <img class="image-preview" [src]="imagesPreview['1_A']">
              </div>
       </div>
       <!-- main title text -->
       <div class="main-title">
              <textarea
              [formControlName]="'main_title'"
              name="main_title" #main_title (input)="onTextInput(main_title)"
                     placeholder="main title"></textarea>
       </div>
       <!--  first subtitle text -->
       <div class="first-subtitle">
              <textarea
              [formControlName]="'subtitle_1'"
              placeholder="first subtitle" name="subtitle_1" #subtitle_1
                     (input)="onTextInput(subtitle_1)"></textarea>
       </div>
       <div class="first-body">
              <textarea
              [formControlName]="'body_1'"
              placeholder="body  1" name="body_1" #body_1 (input)="onTextInput(body_1)"></textarea>
       </div>
       <div class="second-line-images-container">
              <div class="image-input">
                     <label>1_b</label>
                     <input
                     name="photo" type="file" class="file-input" (change)="onFileSelected($event, '1_B')"
                            #fileUpload>
                     <p *ngIf="imagesPreview['1_B']" class="file-upload">
                            {{fileName }}
                     </p>
                     <div *ngIf="imagesPreview['1_B']">
                            <img class="image-preview" [src]="imagesPreview['1_B']">
                     </div>
              </div>
              <div class="image-input">
                     <label>2_b</label>
                     <input
                     name="photo" type="file" class="file-input" (change)="onFileSelected($event, '2_B')"
                            #fileUpload>
                     <p *ngIf="!imagesPreview['2_B']" class="file-upload">
                            {{fileName }}
                     </p>
                     <div *ngIf="imagesPreview['2_B']">
                            <img class="image-preview" [src]="imagesPreview['2_B']">
                     </div>
              </div>
              <div class="image-input">
                     <label>3_b</label>
                     <input
                     name="photo" type="file" class="file-input" (change)="onFileSelected($event, '3_B')"
                            #fileUpload>
                     <div *ngIf="!imagesPreview['3_B']" class="file-upload">
                            {{fileName }}
                     </div>
                     <div *ngIf="imagesPreview['3_B']">
                            <img class="image-preview" [src]="imagesPreview['3_B']">
                     </div>
              </div>
              <!-- <img [src]="API_url + articleData.id + '/'+ articleMedia['2_B']"/>
           <img [src]="API_url + articleData.id + '/'+ articleMedia['3_B']"/> -->
       </div>
       <div class="second-body">
              <textarea
              [formControlName]="'subtitle_2'"
              placeholder="Subtitle 2" name="subtitle_2" #subtitle_2
                     (input)="onTextInput(subtitle_2)"></textarea>
              <textarea
              [formControlName]="'body_2'"
              placeholder="body 2" name="body_2" #body_2 (input)="onTextInput(body_2)"></textarea>
       </div>
       <div class="image-and-caption-container">
              <!-- <img [src]="API_url + articleData.id + '/'+ articleMedia['1_C']"/> -->
              <div class="image-input">
                     <input
                     name="photo" type="file" class="file-input" (change)="onFileSelected($event, '1_C')"
                            #fileUpload>
                     <div *ngIf="!imagesPreview['1_C']" class="file-upload">
                            {{fileName }}
                     </div>
                     <div *ngIf="imagesPreview['1_C']">
                            <img class="image-preview" [src]="imagesPreview['1_C']">
                     </div>
              </div>
              <div class="caption">
                     <textarea
                     [formControlName]="'caption'"
                     placeholder="caption" name="caption" #caption (input)="onTextInput(caption)"></textarea>
                     <!-- <p>   {{articleData.caption}} </p>  -->
              </div>
       </div>
       <div class="tags">
              <textarea
              [formControlName]="'tags'"
              placeholder="tags" name="tags" #tags (input)="onTextInput(tags)"></textarea>
       </div>
       <button class="submit-button" (click)="formValidation()">SEND FORM</button>
</form>
</div>
