.navbar-container {
    background-color: #0F1923;
    height: 84px;
    width: 100%;
    .navbar-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        padding: 0 40px;
        margin: auto;
        height: 100%;
        .blog-name {
            color: #80FF00;
            font-family: 'Roboto Condensed';
            font-size: 7px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
            .main{
                // color: red;
                font-size:19px;
                text-transform: full-width;
            }
            .secondary{
 
                display: block;
                font-size: 10px;
                
            }
        }

        .actions-container {
        //  margin: 0 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            justify-content: space-between;
            height: 26px;

            img {
                cursor: pointer;
                height: 20px;
            }


                input[type='text'] {
                    cursor: pointer;
                    height: 25px;
                    background-color: #80FF00;
                    border-radius: 6px;
                    border: none;
                    transition: all 0.4s;
                    padding: 0 5px;
                    font-family: 'Roboto ', sans-serif;

                }



                input:focus {
                    background-color: #FFD700;
                    outline: none;

                }

            }

    }
}

@media (max-width:799px) {
    .navbar-container {
        height: 52px;

        .navbar-inner {
            padding: 0 5px;
            .blog-name {
                .main {
                    font-size: 14px;
                }
            }

            .actions-container {
                .avatar,.bookmark,.magnifier,.search-bar{
                    display: none;

                }
                .menu{
                    padding-right: 20px;
                }

            }
        }
    }
}


.search-banner{
    background-color: #0F1923;
    box-shadow: inset 0 0 70px #000000;
    height: 60vh;
    width: 100%;
    transform: translate(-100%);
    position: fixed;
    bottom: 0;
    transition: all 0.4s;
    padding: 16px;
    
    &.open{
        transform: translate(0%);
    }
    .result{
        font-family: 'Roboto Condensed'; ;
        color: #FFD700;
        border-bottom: 1px solid white;
    }
 
}