<div

class="navbar-container">

    <div class="navbar-inner">
        <div
        [routerLink]="['']"
        class="blog-name" >
        <span class="main">Seshtawi Brothers</span>

    </div>
         <div class="actions-container">
            <img class="menu" src="assets/icons/burger-menu-green.svg"  />

            <img class="avatar" src="assets/icons/user-green.svg"  />

            <img class="bookmark" src="assets/icons/bookmark-green.svg"  />
            
            <img class="magnifier" src="assets/icons/magnifier.svg"  />

            <div class="search-bar">
                <input type="text"/>
            </div>
        </div>
    </div>



</div>