<div

class="navbar-container">

    <div class="navbar-inner">
        <div
        [routerLink]="['']"
        class="blog-name" >
        <span class="main">Seshtawi Brothers</span>

    </div>
         <div class="actions-container">
            <img 
            (click)="toggleMenuBanner()"
            class="menu" src="assets/icons/burger-menu-green.svg"  />

            <img class="avatar" src="assets/icons/user-green.svg"  />

            <img 
            class="bookmark" src="assets/icons/bookmark-green.svg"  />
            
            <img
            (click)="toggleMobileSearch()"
            class="magnifier" src="assets/icons/magnifier.svg"  />
            <div class="search-bar">
                <input
                [value]="searchInput.getValue()"
                placeholder="Search..."
                (input)="onSearchInputChange('desktop')"
                #searchBarDesktop
                
                type="text"/>
            </div>
        </div>
    </div>



</div>


<div 
[ngClass]="{open:this.searchBannerIsOpen===true}"
class="search-banner">
<div class="mobile-search-header">
    <input
    [value]="searchInput.getValue()"
    placeholder="Search..."
    (input)="onSearchInputChange('mobile')"
    #searchBarMobile type="text"/>
    <div (click)="toggleMobileSearch()"  >
        <img
        class="close-icon"
        src="assets/icons/close-icon.svg" />
    </div>
</div>


   
<div class="result" *ngFor="let result of searchResults" >
   <div (click)="onSearchResultClick(result)">
    <p>{{result.main_title}}</p> 
   </div>
    
</div>






</div>


<div 
[ngClass]="{open:this.menuBannerIsOpen===true}"
class="menu-banner">
<div class="menu-header">
    <h1>Menu</h1>
    <div (click)="toggleMenuBanner()"  >
        <img
        class="close-icon"
        src="assets/icons/close-icon.svg" />
    </div>
</div>


<div>
<div 
class="menu-item"
*ngFor="let menuItem of menuItems">
<a 
(click)="toggleMenuBanner()"
[routerLink]="[menuItem.route]" routerLinkActive="is-active">  
    <h3>
        {{menuItem.name}}
    </h3>
</a>
</div>

</div>


</div>