// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }

//   html, body {
//     height: 100%;
//     height: 100vh !important;
//   }


//   html, body {
//     height: 100%;
//     max-height: 100vh;
//     margin: 0;
//   }

//   body {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     overflow: hidden;
//   }




/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    animation: l10-0 2s infinite steps(1);
}

.loader::before,
.loader::after {
    content: "";
    flex: 1;
    animation:
        l10-1 1s infinite linear alternate,
        l10-2 2s infinite steps(1) -.5s;
}

.loader::after {
    --s: -1, -1;
}

@keyframes l10-0 {
    0% {
        transform: scaleX(1) rotate(0deg)
    }

    50% {
        transform: scaleX(-1) rotate(-90deg)
    }
}

@keyframes l10-1 {

    0%,
    5% {
        transform: scale(var(--s, 1)) translate(0px) perspective(150px) rotateY(0deg)
    }

    33% {
        transform: scale(var(--s, 1)) translate(-10px) perspective(150px) rotateX(0deg)
    }

    66% {
        transform: scale(var(--s, 1)) translate(-10px) perspective(150px) rotateX(-180deg)
    }

    95%,
    100% {
        transform: scale(var(--s, 1)) translate(0px) perspective(150px) rotateX(-180deg)
    }
}

@keyframes l10-2 {
    0% {
        background: #514b82;
        border-radius: 0
    }

    50% {
        background: #25b09b;
        border-radius: 100px 0 0 100px
    }
}




.navbar-container {
    z-index: 5;
    position: sticky;
    top: 0;
    background-color: var(--primary-dark);
    height: 84px;
    width: 100%;

    .navbar-inner {
        font-family: "Quicksand", sans-serif;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1040px;
        padding: 0 40px;
        margin: auto;
        height: 100%;

        .blog-name {
            display: flex;
            align-items: self-end;
            gap: 3px;


            img {
                height: 20px;
            }

            color: white;
            font-family: 'Roboto Condensed';
            font-family: "Quicksand",
            sans-serif;
            // font-weight: 600;

            font-size: 7px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;

            .main {
                // color: red;
                font-size: 19px;
                // text-transform: full-width;
            }

            .secondary {

                display: block;
                font-size: 10px;

            }
        }

        .actions-container {
            //  margin: 0 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            justify-content: space-between;
            height: 26px;




            .icon {
                cursor: pointer;
                width: 20px;
                height: 20px;
         
                &:hover{
                  
                    path {
                        transition: all 0.6s;
                        fill: var(--secondary-light); /* Change the fill color */
                      }
                }

              }
            

            input[type='text'] {
                cursor: pointer;
                height: 25px;
                background-color: #ffffff;
                border-radius: 6px;
                border: none;
                transition: all 0.4s;
                padding: 0 5px;
                font-family: 'Roboto ', sans-serif;

            }



            input:focus {
                background-color: var(--secondary);
                outline: none;

            }

        }

    }
}

@media (max-width:799px) {
    .navbar-container {
        height: 52px;
        // position: sticky;

        .navbar-inner {
            padding: 0 20px;

            .blog-name {
                .main {
                    font-size: 14px;
                }
            }

            .actions-container {

                .avatar,
                .bookmark,
                .search-bar {
                    display: none;

                }

                .menu {
                    padding-right: 20px;
                }
            }
        }
    }
}


.search-banner {
    background-color: #0F1923;
    box-shadow: inset 0 0 70px #000000;
    height: 60vh;
    width: 100%;
    transform: translate(-100%);
    position: fixed;
    bottom: 0;
    transition: all 0.4s;
    padding: 16px;
    z-index: 3;

    &.open {
        transform: translate(0%);
    }

    .result {
        font-family: 'Roboto Condensed';
        ;
        color: #FFD700;
        border-bottom: 1px solid white;
    }

    .mobile-search-header {
        display: none;


    }


}



.menu-banner {
    position: fixed;
    top: 0px;
    z-index: 10;
    height: calc(100vh);
    transform: translateY(-100%);
    transition: all 0.4s;
    background-color:  var(--primary-dark);
    box-shadow: inset 0 0 70px var(--primary-dark);
    width: 100%;
    opacity: 0;
    &.open{
        transform: translate(0%);
        opacity: 1;
    }


      

    .wrapper{
        padding: 20px;
        .menu-header{
            display: flex;
            align-items: center;
            justify-content: right;

            h1{
                color: #ffffff;
            }
            img{
                width: 30px;
          
            }

        }

        .menu-body{
            font-family: "Quicksand", sans-serif;

            a{
                text-decoration: none;
                color: white;
            }

            .menu-item{
                position: relative;
        
                span{
                    
                    font-size: 14px;
                    padding-top: 7px;
                }
             h3{
                padding: 0;
                font-size: 26px ;
                display: flex;
                align-items: flex-start;
                gap: 5px;
             }

             &:hover{
                background-color: var(--secondary);
             }
            }


        }
    }


}




@media (max-width:799px) {


    .search-banner {
        top: 52px;
        right: 0;
        left: 0;
        box-sizing: border-box;
        height: 100vh;

        .mobile-search-header {

            input {
                flex-basis: 70%;
            }

            display: flex;
            justify-content: space-between;

            .close-icon {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }

        .result {
            cursor: pointer;

        }
    }



    .mobile-search-header {

        margin-bottom: 61.5px;

        h1 {
            color: white;
        }
    }
}