<div

class="navbar-container">

    <div class="navbar-inner">
        <div
        [routerLink]="['']"
        class="blog-name" >Blogname</div>
         <div class="actions-container">
            <img src="assets/icons/burger-menu-green.svg"  />

            <img src="assets/icons/user-green.svg"  />

            <img src="assets/icons/bookmark-green.svg"  />
            <button (click)="test()"  >test</button>


            <div class="search-bar">
                <input type="text"/>
            </div>
        </div>
    </div>



</div>