.homepage-comp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  gap: 6px;
  margin-top: 36px;
  @media (max-width:799px){
    // .homepage-comp
display: flex;
flex-direction: column;
gap: 15px;

  }

  .article {
    // height: 390px;
    width: auto;
    // color: white;
    text-align: center;
    cursor: pointer;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

    &.article-with-border-radius{
        border-radius:12px 12px 0 0;
        @media(max-width:799px){
          border-radius: 0;
        }
    }

    &:hover {
      .card-image {
        img {
          // filter: hue-rotate(20deg);
          filter: sepia(0.3);
        }
      }

      .card-main-title {
        color: #6a1b9a;
      }
    }

    .card-image {

      width: 100%;
      // height: 100%;
      // display: flex;
      // align-items: flex-start;
      // justify-content: center;
      overflow: hidden; /* Ensures the image doesn't overflow */

      .article-image-with-border-radius{
        border-radius:9px 9px 0 0;
        @media(max-width:799px){
          border-radius: 0;
        }
      }

      img {
        width: 100%;
        height: 162px;
        object-fit: cover;
        object-position: center;
        transition: all 0.4s;
      }
    }

    .card-date {
      color: #394149;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 10px;
      margin-top: 12px;
      text-align: left;
      padding: 0 24px;
      font-weight: 900;
    }

    .card-main-title {
      margin-top: 5px;
      color: #202020;
      font-size: 30px;
      // height: 69px;
      line-height: 36px;
      text-align: left;
      font-family: "Roboto Condensed", sans-serif;
      padding: 0 24px;
      transition: all 0.6s;
    }

    .card-body {
      text-align: left;
      margin-top: 13px;

      height: 75.9px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 24px;

      @media(max-width:799px){
     margin-bottom: 30px;
     padding: 0 14px;
      }

      span {
        text-overflow: ellipsis;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 12px;
        line-height: 18px;
        color: #545454;
      }
    }
  }

  .article-card-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .article-card-2 {
    grid-column-start: 3;
    grid-column-end: 3;
  }

  .article-card-3 {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  // second line
  .article-card-4 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .article-card-5 {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .article-card-6 {
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .article-card-7 {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  // third line

}




.loading-grid{
  max-width: 1040px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  gap: 6px;
  margin-top: 36px;
  animation: rotatingBorder;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  @media (max-width:799px){
    // .homepage-comp
display: flex;
flex-direction: column;
gap: 15px;

  }

  .placeholder{
    transition: all 0.4s;

    box-sizing: border-box;
    height: 478.5px;
    border-width: 4px;
    border-style: solid;
    border: 3px solid;

    border-color: transparent;
    animation: loadingBackground 1.4s infinite linear; /* Apply the animation */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(9,9,121,0.3) 35%, rgba(2,0,36,0.3) 0%); /* Initial gradient */
    background-size: 200% 100%; /* Stretch the gradient so it can move */


  }

  @keyframes loadingBackground {
    0% {
     
      background-position: 200% 0; /* Start offscreen to the right */
    }
    100% {
      background-position: -200% 0; /* End offscreen to the left */
    }
  }


  @keyframes rotatingBorder {

    0%{ 
    
   border-color: #81ff03;
    }
    33%{  
      border-color: rgb(185, 62, 62);
    }

    99%{  
      border-color: rgb(82, 20, 133);
    }
    
  }

  .article-placeholder-0{
    grid-column-start: 1;
    grid-column-end: 3;
  }


  .article-placeholder-1 {
    grid-column-start: 3;
    grid-column-end: 3;
  }

   .article-placeholder-2 {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  // second line
  .article-placeholder-3 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .article-placeholder-4{
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .article-placeholder-5 {
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .article-placeholder-6{
    grid-column-start: 4;
    grid-column-end: 4;
  }




  .article-placeholder-7{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .article-placeholder-8{
    grid-column-start: 3;
    grid-column-end: 3;
  }

  .article-placeholder-9 {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  // second line
  .article-placeholder-10{
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .article-placeholder-11{
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .article-placeholder-12 {
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .article-placeholder-13{
    grid-column-start: 4;
    grid-column-end: 4;
  }




}