.homepage-comp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  gap: 6px;
  margin-top: 36px;
  @media (max-width:799px){
    // .homepage-comp
display: flex;
flex-direction: column;
gap: 15px;

  }

  .article {
    // height: 390px;
    width: auto;
    // color: white;
    text-align: center;
    cursor: pointer;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

    &.article-with-border-radius{
        border-radius:12px 12px 0 0;
        @media(max-width:799px){
          border-radius: 0;
        }
    }

    &:hover {
      .card-image {
        img {
          // filter: hue-rotate(20deg);
          filter: sepia(0.3);
        }
      }

      .card-main-title {
        color: #6a1b9a;
      }
    }

    .card-image {

      width: 100%;
      // height: 100%;
      // display: flex;
      // align-items: flex-start;
      // justify-content: center;
      overflow: hidden; /* Ensures the image doesn't overflow */

      .article-image-with-border-radius{
        border-radius:9px 9px 0 0;
        @media(max-width:799px){
          border-radius: 0;
        }
      }

      img {
        width: 100%;
        height: 162px;
        object-fit: cover;
        object-position: center;
        transition: all 0.4s;
      }
    }

    .card-date {
      color: #394149;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 10px;
      margin-top: 12px;
      text-align: left;
      padding: 0 24px;
      font-weight: 900;
    }

    .card-main-title {
      margin-top: 5px;
      color: #202020;
      font-size: 30px;
      // height: 69px;
      line-height: 36px;
      text-align: left;
      font-family: "Roboto Condensed", sans-serif;
      padding: 0 24px;
      transition: all 0.6s;
    }

    .card-body {
      text-align: left;
      margin-top: 13px;

      height: 75.9px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 24px;

      @media(max-width:799px){
     margin-bottom: 30px;
     padding: 0 14px;
      }

      span {
        text-overflow: ellipsis;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 12px;
        line-height: 18px;
        color: #545454;
      }
    }
  }

  .article-card-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .article-card-2 {
    grid-column-start: 3;
    grid-column-end: 3;
  }

  .article-card-3 {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  // second line
  .article-card-4 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .article-card-5 {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .article-card-6 {
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .article-card-7 {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  // third line

  .article-card-8 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .article-card-9 {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .article-card-10 {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .article-card-11 {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  // fifth line

  .article-card-12 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .article-card-13 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}
