<div class="component-container page homepage-comp">



<div
[routerLink]="['article', article.id]"
 *ngFor="let article of articles; let i =index"
 [class]= "'article article-card-' + article.formatIndex"
[ngClass] ="{'article-with-border-radius':i <=2}"
>

<div class="card-image" >
    <img 
    [ngClass] ="{'article-image-with-border-radius':i <=2}"
    
    src="{{article.coverImagePath}}" />
 
</div>

<div class="card-date">
<span>{{article.date}}</span>
</div>
<div class="card-main-title" >    
  <span>{{article.main_title}}</span>  
</div>


<div class="card-body" >
    
    <span>{{article.body_1}}</span>  
  </div>

 

</div>

</div>
