<div class="component-container page homepage-comp">

<div
[routerLink]="['article', article.id]"
 *ngFor="let article of articles; let i =index"
 [class]= "'article article-card-' + article.formatIndex"
 [ngStyle]="{
    'border-radius':i ===0 
    || i === 1 
    || i ===2 ? '12px 12px 0 0':'0px' }">

<div class="card-image" >
    <img 
    [ngStyle]="{
        'border-radius':i ===0 
        || i === 1 
        || i ===2 ? '11px 11px 0 0':'0px' }"
    
    src="{{article.coverImagePath}}" />
 
</div>

<div class="card-date">
<span>{{article.date}}</span>
</div>
<div class="card-main-title" >    
  <span>{{article.main_title}}</span>  
</div>


<div class="card-body" >
    
    <span>{{article.body_1}}</span>  
  </div>

 

</div>

</div>
