

@keyframes appear {
    from {opacity: 0;}
    to{opacity: 1;}
}


.article-comp{
    animation: appear 0.4s;
    margin: 36px auto;
    // margin-top: 36px;
    // background-color: #E3E3E3;   
    .article-container{
        // max-width: 1000px;
        padding: 30px;
        margin: auto;
        border-radius: 20px;
        background-color: #E3E3E3;
        .main-title{
            
            p{
                font-family: Inter, sans-serif;
                font-size: 36px;
                line-height: 58.25px;
                font-weight: 500;
                padding: 0 30px;
                margin-bottom: 30px;
            }

        }

            .first-subtitle{
            
                p{
                    font-family: Inter, sans-serif;
                    font-size: 22.25px;
                    line-height: 22.25px;
                    font-weight: 400;
                    padding: 0 30px;
                }
         

        }
 

        
        .first-body{
            
            p{
                font-family: Inter, sans-serif;
                font-size: 13.7px;
                line-height: 30px;
                font-weight: 400;
                padding: 0 30px;
            }
     

    }

    .second-body{
            
        p{
            font-family: Inter, sans-serif;
            font-size: 22.2px;
            line-height: 30px;
            font-weight: 400;
            padding: 0 30px;
        }
 

}

.caption{
    p{
        font-family: Inter, sans-serif;
        font-size: 22.2px;
        line-height: 30px;
        font-weight: 400;

    }

}


    }

   

    .cover-image{
        img{
            border-radius: 19px 19px 0 0 ;
            width: 100%;
            height: 229px;
            object-fit: cover;
        }
     
    }


    .second-line-images-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        // padding: 0 30px;
        img{
            border-radius: 20px;
            max-width: 32%;
        }
      
    }

    .image-and-caption-container{
        display: flex;
        flex-direction: row;
        gap: 60px;
        // padding: 0 30px;
        img{
            width: 60%;
            border-radius: 20px;
            height: 329px;
            object-fit: cover;
        }
        div{
            width: 40%;
            p{
                margin: 0;
            }
        }
      
    }







}