@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



img {
    background: transparent url(/assets/gif/loading.gif) no-repeat scroll center center;
}


.article-comp {
    animation: appear 0.4s;
    margin: 36px auto;

    // margin-top: 36px;
    // background-color: #E3E3E3;   
    .article-container {
        // max-width: 1000px;
        // padding: 30px;

        .main-title,.first-subtitle,.first-body,.second-body,.caption
        ,.second-line-images-container
        {
            padding: 0 30px;
            font-family: "Roboto Condensed", sans-serif;
        }

        margin: auto;
        margin-bottom: 30px;
        // border-radius: 20px;
        background-color: #E3E3E3;

        .main-title {

            p {
                font-family: "Roboto Condensed", sans-serif; 
                font-size: 49.74px;
                // line-height: 58.25px;
                font-weight: 600;
                // padding: 0 30px;
                margin-bottom: 30px;
            }

        }

        .first-subtitle {

            p {
                font-size: 30.74px;
                // line-height: 22.25px;
                font-weight: 400;
                // padding: 0 30px;
            }


        }



        .first-body {

            p {
                margin: 80px 0;
                // line-height: 30px;
                // font-weight: 400;
                // padding: 0 30px;
                font-size: 22.2px;
            }


        }

        .second-body {

            p {
                font-size: 22.2px;
                line-height: 30px;
                font-weight: 400;
                margin: 80px 0;
                // padding: 0 30px;
            }


        }

        .caption {
            p {
                font-family: "Roboto Condensed", sans-serif; 
                font-size: 16px;
                // line-height: 30px;
                font-weight: 400;

            }

        }


    }



    .cover-image {
        img {
            // border-radius: 19px 19px 0 0;
            width: 100%;
            max-height: 329px;
            object-fit: cover;
        }

    }


    .second-line-images-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;

        // padding: 0 30px;
        img {
            border-radius: 10px;
            max-width: 32%;
            object-fit: cover;
        }

    }

    .image-and-caption-container {
        display: flex;
        flex-direction: row;
        gap: 60px;

        // padding: 0 30px;
        img {
            width: 60%;
            // border-radius: 10px;
            // height: 329px;
            object-fit: cover;
        }

        div {
            width: 40%;

            p {
                margin: 0;
            }
        }

    }







}





@media(max-width:799px) {
    .article-comp {
        .article-container {
            padding: 0;
            border-radius: 5px;


            .main-title,.first-subtitle,.first-body,.second-body,.caption{
                padding: 0px !important;
                p{
                    padding: 0 5px !important;
                }
            }

            .main-title {

                p {
                    font-size: 41.29px;
                }

            }

            .first-subtitle {
               
                p {
                    font-size: 25.89px;
                }

            }

            .first-body {

                p {
                    font-size: 16px;
                }
            }

            .second-body {

                p {
                    font-size: 16px;
                }
            }

            .caption {
                p {}
                margin-bottom: 70px;
            }

        }

        .cover-image {
            img {
                border-radius: 4px;
            }
        }

        .second-line-images-container {
            // flex-direction: column;
            padding: 0 !important;
          

            img {
                border-radius: 0 !important;
                // max-width: 100%;
            }
    
        }
    
        .image-and-caption-container {
            padding: 0;
            // border: 1px solid red;
            flex-direction: column;
            gap: 10px;
            img {
                width: 100%;
                border-radius: 0px;
            }
    
            div {   
                width: 100%;
    
                p {
                    // width: 100%;
                }
            }
    
        }
    
    }
}