<div
class=" article-comp component-container page"
*ngIf="articleData !== null" >


 


     <div class="article-container" >
    <!-- cover image 1_A -->
    <div class="cover-image 1_A" >
        <img [src]="this.articleData.media['1_A']"/>
    </div> 
    <!-- main title text -->
    <div class="main-title">
       <h1>{{articleData.main_title}}</h1> 
    
    </div>
    <!--  first subtitle text -->
    <div class="first-subtitle">
        <p>    {{articleData.subtitle_1}} </p> 
     
     </div>

     <div class="first-body">
        <p>   {{articleData.body_1}} </p> 
     
     </div>
     <!-- https://pub-5a93bfba08b2473cac01f5c228f371df.r2.dev -->
     <div class="second-line-images-container">
        <img [src]="this.articleData.media['1_B']"/>
        <img [src]="this.articleData.media['2_B']"/>
        <img [src]="this.articleData.media['3_B']"/>

        <div class="over-image-text-mobile-container"  >
         <p>

            {{articleData.main_title}}
         </p>


        </div>
        
     </div>

     
     <div class="second-body">
        <p>   {{articleData.body_2}} </p> 
     
     </div>

     <div class="image-and-caption-container">

        <img [src]="this.articleData.media['1_C']"/>

        <div class="caption">
            <p>   {{articleData.caption}} </p> 
         
         </div>

     </div>

    

    </div>


    <div class="carousel">
      <app-carousel [customOptions]="carouselSettings" ></app-carousel>
  </div>


</div>



<div
*ngIf="articleData === null" 

>

<app-loading-spinner></app-loading-spinner>


</div>
