

.header{

width: 100%;
background-color: var(--primary);
display: flex;
.left{flex-basis:25%;}
.right{flex-basis:75%;}

.left{
  img{
    width: 100%;
  }
}

.right{

  display: flex;
  justify-content: center;
  color: white;
}



}


.photo{
  position: relative;
  cursor: pointer;
  animation: appear 0.6s;
}

.photo-viewer{
position: fixed;
z-index: 100;
bottom: 0;
top: 0;
left: 0;
right: 0;
background-color: orange;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
.image-wrapper{
// max-width: 70vh;
max-height: 95vh;
img{
  width: 100%;
  height: 100%;
}
}


}


.close-viewer{
  position: absolute;
}




.photo-container-compact{

  margin: 32px auto;
  max-width: 1040px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    .photo {
      // width: 240px;
      // height: 240px;
      aspect-ratio: 1 / 1;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }


    .photo-container-extended{
      .photo{
        padding: 16px;
        max-width: 1040px;
        // height: 400px;
        // max-width: 1440px;
        margin: 32px auto;
        margin-top: 16px;
        // width: 100%;
      background-color: var(--secondary);
      display: flex;
      .left{flex-basis:40%;}
      .right{flex-basis:50%;}

      .left{
        width: 100%;
        img{
          width: 100%;
          max-width: 400px;
          height: 400px;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .right{
        display: flex;
        justify-content: left;
        flex-direction: column;
        color: white;
        padding-left: 16px;
        h2{

          padding: 0;
          margin: 0;
        }
      }

      }

    }

    .loading-grid{
      max-width: 1040px;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: auto;
      // gap: 6px;
      margin-top: 32px;
      animation: rotatingBorder;
      animation-duration:1s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      @media (max-width:799px){
        // .homepage-comp
    display: flex;
    flex-direction: column;
    gap: 15px;

      }

      .placeholder{
        transition: all 0.4s;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        // box-sizing: border-box;
        // height: 478.5px;
        // border-width: 4px;
        // border-style: solid;
        // border: 3px solid;

        border-color: transparent;
        animation: loadingBackground 1.4s infinite linear; /* Apply the animation */
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(9,9,121,0.3) 35%, rgba(2,0,36,0.3) 0%); /* Initial gradient */
        background-size: 200% 100%; /* Stretch the gradient so it can move */


      }

      @keyframes loadingBackground {
        0% {

          background-position: 200% 0; /* Start offscreen to the right */
        }
        100% {
          background-position: -200% 0; /* End offscreen to the left */
        }
      }


      @keyframes rotatingBorder {

        0%{

       border-color: #81ff03;
        }
        33%{
          border-color: rgb(185, 62, 62);
        }

        99%{
          border-color: rgb(82, 20, 133);
        }

      }

      // .article-placeholder-0{
      //   grid-column-start: 1;
      //   grid-column-end: 3;
      // }


      // .article-placeholder-1 {
      //   grid-column-start: 3;
      //   grid-column-end: 3;
      // }

      //  .article-placeholder-2 {
      //   grid-column-start: 4;
      //   grid-column-end: 4;
      // }

      // // second line
      // .article-placeholder-3 {
      //   grid-column-start: 1;
      //   grid-column-end: 1;
      // }
      // .article-placeholder-4{
      //   grid-column-start: 2;
      //   grid-column-end: 2;
      // }
      // .article-placeholder-5 {
      //   grid-column-start: 3;
      //   grid-column-end: 3;
      // }
      // .article-placeholder-6{
      //   grid-column-start: 4;
      //   grid-column-end: 4;
      // }




      // .article-placeholder-7{
      //   grid-column-start: 1;
      //   grid-column-end: 3;
      // }

      // .article-placeholder-8{
      //   grid-column-start: 3;
      //   grid-column-end: 3;
      // }

      // .article-placeholder-9 {
      //   grid-column-start: 4;
      //   grid-column-end: 4;
      // }

      // // second line
      // .article-placeholder-10{
      //   grid-column-start: 1;
      //   grid-column-end: 1;
      // }
      // .article-placeholder-11{
      //   grid-column-start: 2;
      //   grid-column-end: 2;
      // }
      // .article-placeholder-12 {
      //   grid-column-start: 3;
      //   grid-column-end: 3;
      // }
      // .article-placeholder-13{
      //   grid-column-start: 4;
      //   grid-column-end: 4;
      // }




    }

    .photo-container-extended,.photo-container-compact{

      animation: appear 1s;
      animation-fill-mode: forwards;
    }

    .actions-footbar{
      background-color: red;
      position: fixed;
      height: 50px;
      width: 100%;
      bottom: 0;
    }

@keyframes appear {
  from{opacity: 0;}

  to{opacity: 1;}

}
