

.header{

width: 100%;
background-color: var(--primary);
display: flex;
.left{flex-basis:25%;}
.right{flex-basis:75%;}

.left{
  img{
    width: 100%;
  }
}

.right{

  display: flex;
  justify-content: center;
  color: white;
}



}


.photo{
  position: relative;
}

.photo-viewer{
  position: fixed;
z-index: 100;
width: 100vh;
height: 100vh;
background-color: orange;
}




.photo-container-compact{

  margin: 32px auto;
  max-width: 1440px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    .photo {
      // width: 240px;
      // height: 240px;
      aspect-ratio: 1 / 1;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }


    .photo-container-extended{
      .photo{
        padding: 16px;
        // height: 400px;
        max-width: 1440px;
        margin: 32px auto;
        margin-top: 16px;
        // width: 100%;
      background-color: var(--secondary);
      display: flex;
      .left{flex-basis:40%;}
      .right{flex-basis:50%;}

      .left{
        width: 100%;
        img{
          width: 100%;
          max-width: 400px;
          height: 400px;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .right{
        display: flex;
        justify-content: left;
        flex-direction: column;
        color: white;
        padding-left: 16px;
        h2{

          padding: 0;
          margin: 0;
        }
      }

      }

    }

    .photo-container-extended,.photo-container-compact{

      animation: appear 1s;
      animation-fill-mode: forwards;
    }

    .actions-footbar{
      background-color: red;
      position: fixed;
      height: 50px;
      width: 100%;
      bottom: 0;
    }

@keyframes appear {
  from{opacity: 0;}

  to{opacity: 1;}

}
