/* You can add global styles to this file, and also import other style files */



  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  body{
    font-family: "Roboto Condensed";
    margin: 0;
    background-color: #163462;
    position: relative;

    &.mobile-menu-mode,
      .screen-menu-mode
    {
    height: 100%;
    max-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
      
    }
  }


  

.component-container{

   min-height: 100dvh;
    max-width: 100dvw;
    padding: 0 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3e3e3e;

    @media (max-width:799px) {
      padding: 0;
    }

    &.page{
      max-width: 1040px;
    }
}





hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#a0a0a0;
    height: 1px;
  }